<h3>Greeter</h3>
<hr>
<div>
    <table style="border: 1px solid grey;">
        <tr>
            <td>Attribute</td>
            <td>Value</td>
        </tr>
        @for (item of (emp | keyvalue); track item.key) {
            <tr>
                <td>{{item.key}}</td>
                <td>{{item.value}}</td>
            </tr>
        }
        
    </table>
</div>


<input type="checkbox" 
    (input)="selected.set($any($event.target).checked)"
    [checked]="selected()"
> 
<span>Show</span>

@if (selected()) {
    <div>
        <input type="text" (input)="firstName.set($any($event.target).value)">
        <input type="text" #lastNameRef (input)="lastName.set(lastNameRef.value)">
        <div>
            {{firstName()}}
            {{lastName()}}
        </div>
        <div>
        <span>{{message() | uppercase}}</span>
        <span>[ {{messageLength()}} ]</span>
        </div>

        <button (click)="onPersonalClick()">Make It Personal</button>
        <button (click)="onBtnClearClick()">Clear</button>
        <br>
    </div>
} @else {
    <div>Nothing is see here!</div>
}


